<div class="modal fade" id="expertisePatientModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Экспертиза пациента</h1>
                <button class="btn btn-sm btn-primary" data-bs-target="#postPatientModal" data-bs-toggle="modal">Открыть карточку пациента</button>
            </div>
            <div class="modal-body">
                <ExpertiseModalBody />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-sm btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

@code {

}
